**/dist/**
**/out/**
**/release/**
**/node_modules/**
**/.turbo/**
**/.next/**
**/.expo/**
**/.vscode/**
.git/**
pnpm-lock.yaml
pnpm-workspace.yaml
**/public/**
packages/skills/openworker-skills/**
apps/desktop/src/extensions/**
